/* Body del Index.php  REUTILIZABLE*/
.container-body {
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
  margin: 0;
  box-sizing: border-box;
  animation: backgroundAnimation 10s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 55px 55px, 55px 55px;
  }
}
/* Inicio del Index.php */ 
.formulario-container-index {
    width: 350px; 
    height: 350px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: auto;
    margin-top: 50px;
    animation: fadeIn 0.5s ease-out;
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  .titulo-index {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 10px 0 30px 0;
    font-size: 35px;
    font-weight: 800;
    
  }
  .formulario-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input-index {
    border-radius: 20px;
    outline: 0 !important;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 12px 15px;
    transition: border-color 0.3s ease;
  }
  .input-index:focus {
    border-color: #00e0a8;
    box-shadow: 0 0 2px #175873;
}
  
  .formulario-btn-index {
    padding: 10px 15px;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: #175873 0px 3px 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 15px;
  }
  .formulario-btn-index:hover{
    background-color: #175873;
    transform: scale(1.05);
  }
  .formulario-btn-index:active {
    background-color: #0c1446;
  }
  
  .iniciarsesion-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Poppins", sans-serif;
  }
  
  .iniciarsesion-link {
    color: #175873;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  .iniciarsesion-link:hover {
    text-decoration: underline;
  }
  .mensaje-index{
    color: red;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: auto;
    font-size: 12px;
  }
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: "Poppins", sans-serif;
}

  .footer-content {
    max-width: 1700px;
    font-size: 10px;
}

  .footer a {
    color: #fff;
    text-decoration: none;
}

  .footer a:hover {
    text-decoration: underline;
}
  /* Index.php termina aquí */
  
 /* Main.php SECRETARIA DE OFICINA  REUTILIZABLE*/
 .header-main{
  background-color: #007B77;
  padding: 5px;
  display: flex;
  flex-direction: row;
 }
 .menu-main {
  padding: 5px;
  background-color: #002B5B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-main ul li {
  background-color: #ffffff;
  margin: 5px;
  position: relative;
  border-radius: 50px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.menu-main ul a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 16px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.menu-main ul li:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.menu-main ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-main ul ul li {
  width: 150px;
}

.menu-main ul ul a {
  padding: 10px 15px;
}

.menu-main ul li:hover > ul {
  display: block;
}
@media screen and (max-width: 768px) {
  .menu-main ul a {
    font-size: 10px;
    padding: 8px 10px;
  }
  
}
.cajadetexto-main:hover {
  transform: scale(1.1);
}
.infousuario-main {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  background-color: #175873;
  border-radius: 50px;
  font-size: 13px;
  padding: 0px 10px 0px 10px;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  animation: smoothFade 5s infinite;
}

@keyframes smoothFade {
  0%, 100% {
    opacity: 1;
    background-color: #175873;
  }
  50% {
    opacity: 0.8;
    background-color: #004666;
  }
}

@media screen and (max-width: 768px) {
  .infousuario-main {
    font-size: 12px;
    padding: 5px 5px;
    text-align: center;
  }
}
.main-h1{
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.main-descripcion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
}
.main-texto, .main-imagen {
  flex: 1 1 100%;
  margin: 0px;
  padding: 5px;
  animation: fadeIn 1.5s ease-in-out;
}
.main-texto {
  font-family: "Monaco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #005A8B;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.main-texto h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  animation: slideInFromLeft 1.5s ease-in-out;
}
.main-texto p {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  animation: slideInFromRight 1.5s ease-in-out;
}
.main-imagen {
  text-align: center;
  background-color: #FFC107;
  animation: zoomIn 1.5s ease-in-out;
}
.main-imagen img {
  max-width: 100%;
  height: auto;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .main-texto, .main-imagen {
      flex: 1; /* baja el flex*/
      margin: 0 0px;
  }
  .main-descripcion {
      flex-wrap: nowrap;
  }
}
/* main-updates */
.main-updates {
  background-color: #1e293b;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-align: center;
  color: #f1f5f9;
  animation: fadeInUpdates 1s ease-in-out;
}

.update-texto {
  font-size: 18px;
  color: #e2e8f0;
  line-height: 1.8;
  margin: 0px 0;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.main-updates li {
  list-style-type: none;
  margin: 10px auto;
  padding: 8px;
  background-color: #334155;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  max-width: 90%;
  width: 50%;
  animation: slideInUpdates 0.5s ease-in-out;
}

.main-updates ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-updates li:hover {
  background-color: #475569;
  transform: scale(1.05);
}

@keyframes fadeInUpdates {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUpdates {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .main-updates {
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    
  }
  .main-updates li{
    margin: 5px auto;
    width: 80%;
    max-width: 90%;
    text-align: center;
    font-size: 12px;
  }
  
}

@media screen and (max-width: 480px) {
  .main-updates {
    padding: 15px;
    margin: auto;
  }

  .update-texto {
    font-size: 14px;
    line-height: 1.5;
  }
}
.notis-main {
  background-color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 50%;
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.noti-main {
  font-size: 45px;
}

.barra-main{
  display:none;
  list-style: none;
}

.barra-main-active {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  list-style-type: none;
  display: block;
  position: absolute;
  top: 70px; /* Ajustado de 60px a 70px */
  padding: 10px; /* Agregado padding para dar más espacio a los elementos de la lista */
  right: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: none;
  margin-top: 80px;
}
.notis-main #barra-main, .notis-main:active #barra-main {
  display: block;
  user-select: none;
}
.notis-main:active {
  background-color: #e0e0e0;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .notis-main {
    width: 40px;
    height: 40px;
    font-size: 12px;
    right: 5px;
    top: 130px;
  }
  .barra-main-active{
    top: 110px;
  }
}
.li-main-visto{
  display: normal;
  text-decoration: none;
  list-style: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: background-color 0.2s ease;
  max-width: 150px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.li-main:hover {
  background-color: #e0e0e0;
}
.li-main-novisto {
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #a2fcff;
  margin: 5px 0;
  transition: background-color 0.2s ease;
  max-width: 150px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  color: red;
}

.li{
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: background-color 0.2s ease;
  max-width: 150px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


/* System help.php Comienza aquí */
.titulo-systemhelp{
  color: #fff;
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  align-self: center;
  font-weight: 600;
  padding: 5px;
}

.header-systemhelp{
  height: 100%;
  width: 100%;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin: 5px 5px;
}
.formulario-filtro-systemhelp {
  margin: auto;
  margin-top: 15px;
  width: 50%;
  background-color: #175873;
  padding: 5px;
  border-radius: 20px;
}

.formulario-filtro-systemhelp form {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.formulario-filtro-systemhelp input {
  border: none;
  border-radius: 10px;
  margin: 8px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.formulario-filtro-systemhelp input:hover {
  transform: scale(1.1);
}

.texto-systemhelp {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.formulario-btn-systemhelp {
  background-color: #008080;
  color: #fff;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.formulario-btn-systemhelp:hover {
  background-color: #87aca3;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .formulario-filtro-systemhelp {
    margin: auto;
    margin-top: 15px;
    width: 90%;
    padding: 10px;
  }

  .formulario-filtro-systemhelp input {
    padding: 8px;
    margin: 5px;
  }

  .formulario-btn-systemhelp {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .formulario-filtro-systemhelp {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }

  .formulario-filtro-systemhelp input {
    padding: 5px;
    margin: auto;
  }

  .formulario-btn-systemhelp {
    padding: 10px 15px;
    font-size: 12px;
  }
}

.menu-systemhelp {
  padding: 5px;
  background-color: #175873;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-systemhelp ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-systemhelp ul li {
  background-color: #ffffff;
  margin: 5px;
  position: relative;
  border-radius: 20px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.menu-systemhelp ul a {
  display: block;
  color: #0c1446;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.menu-systemhelp ul li:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.menu-systemhelp ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-systemhelp ul ul li {
  width: 150px;
}

.menu-systemhelp ul ul a {
  padding: 10px 15px;
}

.menu-systemhelp ul li:hover > ul {
  display: block;
}

@media screen and (max-width: 768px) {
  .menu-systemhelp ul {
    flex-direction: column;
  }

  .menu-systemhelp ul li {
    margin: 5px 5px;
    width: 90%;
    text-align: center;
  }

  .menu-systemhelp ul a {
    font-size: 12px;
    
    padding: 8px 15px;
  }
}
.table-systemhelp {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow-x: auto; 
  max-width: 90%; 
}

.table-systemhelp th, .table-systemhelp td {
  padding: 8px 10px;
  max-width: 400px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  white-space: normal;
  vertical-align: top;
}

.table-systemhelp th {
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
}

.table-systemhelp tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-systemhelp tr:hover {
  background-color: #f1f1f1;
}

.botoninvalido-systemhelp {
  color: #fff;
  background-color: #800000;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 10px;
  border-style: none;
  margin: auto;
  margin-top: 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  max-width: 150px;
}

.botoninvalido-systemhelp:hover {
  background-color: #ff0000;
  transform: scale(1.1);
}

.botonaprobado-systemhelp {
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 15px;
  border-style: none;
  margin: auto;
  margin-top: 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  max-width: 150px;
}

.botonaprobado-systemhelp:hover {
  background-color: #00be3f;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .table-systemhelp th, .table-systemhelp td {
    font-size: 14px;
    padding: 6px 8px;
  }

  .botoninvalido-systemhelp, .botonaprobado-systemhelp {
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 480px) {
  .table-systemhelp th, .table-systemhelp td {
    font-size: 12px;
    padding: 5px 6px;
  }

  .botoninvalido-systemhelp, .botonaprobado-systemhelp {
    font-size: 10px;
    padding: 4px 8px;
  }
}
/* System help.php termina aquí */
/* NEW HELP.PHP */
.formulario-newhelp {
  background-color: #eee;
  margin: auto;
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
  padding: 20px;
}

.boton-newhelp {
  color: #fff;
  background-color: #008080;
  border-style: none;
  padding: 10px 15px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.boton-newhelp:hover {
  transform: scale(1.1);
  background-color: #00be3f;
}

.input-newhelp {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
  width: calc(100% - 30px);
}

@media screen and (max-width: 768px) {
  .formulario-newhelp {
    margin: 20px 50px 20px 50px;
    padding: 15px;
  }

  .boton-newhelp {
    font-size: 14px;
    padding: 8px 12px;
  }

  .input-newhelp {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 480px) {
  .formulario-newhelp {
    margin: 10px;
    padding: 10px;
  }

  .boton-newhelp {
    font-size: 12px;
    padding: 6px 10px;
  }

  .input-newhelp {
    padding: 8px 10px;
  }
}
/* FELICIDADES HELP.PHP */
.section-felicidadeshelp {
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  margin: 50px 300px 50px 300px;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.section-felicidadeshelp p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  
}

.section-felicidadeshelp a {
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: 15px;
}

.section-felicidadeshelp a:hover {
  transform: scale(1.1);
  background-color: #87aca3;
}

@media screen and (max-width: 768px) {
  .section-felicidadeshelp {
    margin: 50px 50px 50px 50px;
    padding: 10px;
    font-size: 18px;
  }

  .section-felicidadeshelp p {
    font-size: 18px;
  }

  .section-felicidadeshelp a {
    font-size: 14px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .section-felicidadeshelp {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
  }

  .section-felicidadeshelp p {
    font-size: 16px;
  }

  .section-felicidadeshelp a {
    font-size: 12px;
    padding: 6px;
  }
}
/* CONFIGURACION USER.PHP */
.formulario-configuracionuser {
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  margin: 50px 500px 50px 500px;
  text-align: center;
  padding: 15px;
}

.label-configuracionuser {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin: 5px;
}

.button-configuracionuser {
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.button-configuracionuser:hover {
  background-color: #009b9b;
  transform: scale(1.1);
}

.input-configuracionuser {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 30px;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .formulario-configuracionuser {
    margin: 50px 50px 50px 50px;
    padding: 10px;
  }

  .input-configuracionuser {
    padding: 10px 20px;
  }

  .button-configuracionuser {
    padding: 8px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .formulario-configuracionuser {
    margin: 20px;
    padding: 10px;
  }

  .input-configuracionuser {
    padding: 8px 15px;
  }

  .button-configuracionuser {
    padding: 8px 15px;
    font-size: 12px;
  }

  .label-configuracionuser {
    font-size: 12px;
  }
}
/* SYSTEM HELP LIST.PHP */
.table-systemhelplist {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  overflow-x: auto;
  max-width: 90%; 
}

.table-systemhelplist th, .table-systemhelplist td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; 
  white-space: normal; 
}

.table-systemhelplist th {
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
}

.table-systemhelplist tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-systemhelplist tr:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .table-systemhelplist {
    font-size: 14px;
    padding: 8px;
  }

  .table-systemhelplist th, .table-systemhelplist td {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .table-systemhelplist {
    font-size: 12px;
    padding: 5px;
  }

  .table-systemhelplist th, .table-systemhelplist td {
    padding: 8px;
  }
}

.formulario-filtro-systemhelplist {
  margin: auto;
  margin-top: 15px;
  width: 60%;
  max-width: 800px;
  background-color: #175873;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box; 
}

.formulario-filtro-systemhelplist form {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.formulario-filtro-systemhelplist input,
.formulario-filtro-systemhelplist select {
  border: 1px solid #334155;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #f1f5f9;
  color: #1e293b;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(50% - 10px); 
  margin: 0;
  box-sizing: border-box;
  max-width: 90%;
  width: 70%;
}

.formulario-filtro-systemhelplist input:focus,
.formulario-filtro-systemhelplist select:focus {
  border-color: #008080;
  box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
}

.formulario-filtro-systemhelplist input:hover,
.formulario-filtro-systemhelplist select:hover {
  border-color: #006666;
}

@media screen and (max-width: 768px) {
  .formulario-filtro-systemhelplist{
    max-width: 90%;
    width: 100%;
    padding: 10px;
    
    gap: 15px;
  }
  .formulario-filtro-systemhelplist form {
    flex-wrap: wrap;
  }
  .formulario-filtro-systemhelplist input,
  .formulario-filtro-systemhelplist select {
    max-width: 100%; /* Asegúrate de que los inputs no excedan el ancho del contenedor */
    width: 100%;
    margin: 0;
    font-size: 10px;
    
  }
}

/* DAR INVALIDO.PHP */
.formulario-darinvalido{
  background-color: #eee;
  margin: auto;
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
  padding: 20px;
}
.label-darinvalido{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 5px;
}
.input-darinvalido{
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: auto;
  display: block;
  margin-bottom: 5px;
  width: calc(100% - 30px);
  
}
.button-darinvalido{
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  border-style: none;
  margin: auto;
  margin-top: 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.button-darinvalido:hover{
  background-color: #00be3f;
  transform: scale(1.1);
}
.titulo-darinvalido{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0;
}
/* FELICIDADES NEWUSER.PHP */
.section-felicidadesnewuser {
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 25px;
  font-size: 20px;
  width: 20%;
  font-family: "Poppins", sans-serif;
}

.section-felicidadesnewuser p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.section-felicidadesnewuser a {
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: 15px;
}

.section-felicidadesnewuser a:hover {
  transform: scale(1.1);
  background-color: #00be3f;
}

@media screen and (max-width: 768px) {
  .section-felicidadesnewuser {
    margin: auto;
    margin-top: 15px;
    width: 40%;
    padding: 20px;
    font-size: 18px;
  }

  .section-felicidadesnewuser p {
    font-size: 18px;
  }

  .section-felicidadesnewuser a {
    font-size: 14px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .section-felicidadesnewuser {
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    font-size: 16px;
  }

  .section-felicidadesnewuser p {
    font-size: 16px;
  }

  .section-felicidadesnewuser a {
    font-size: 12px;
    padding: 6px;
  }
}
/* REPORTES.PHP */
.table-reportes {
  width: 57%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  overflow-x: auto;
}

.table-reportes th, 
.table-reportes td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
}

.table-reportes th {
  background-color: #175873;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.table-reportes tr:nth-child(even) {
  background-color: #f1f1f1;
}

.table-reportes tr:hover {
  background-color: #e0f7fa;
}

@media screen and (max-width: 768px) {
  .table-reportes {
    width: 100%;
    max-width: 90%;
    font-size: 14px;
    overflow-x: auto;
  }

  .table-reportes th, 
  .table-reportes td {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .table-reportes {
    font-size: 12px;
    overflow-x: auto;
  }

  .table-reportes th, 
  .table-reportes td {
    padding: 8px;
  }
}
/* ESTADISTICAS.PHP */
.section-estadisticas{
    background-color: #fff;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    width: 70%;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-family: "Poppins", sans-serif;
  }
  
  #loading {
    text-align: center;
  }
 
  #content {
    display: none;
  }
  
  
  @media screen and (max-width: 768px) {
    .section-estadisticas {
      margin: auto;
      margin-top: 15px;
      width: 90%;
      padding: 10px;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section-estadisticas {
      margin: auto;
      width: 90%;
      margin-top: 15px;
      padding: 5px;
      font-size: 8px;
    }
  }
  #table table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  #table table th, 
  #table table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Poppins", sans-serif;
  }
  
  #table table th {
    background-color: #175873;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  
  #table table tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  #table table tr:hover {
    background-color: #e0f7fa;
  }
  
  @media screen and (max-width: 768px) {
    #table table {
      width: 100%;
      max-width: 90%;
      font-size: 14px;
    }
  
    #table table th, 
    #table table td {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    #table table {
      font-size: 12px;
    }
  
    #table table th, 
    #table table td {
      padding: 8px;
    }
  }
  /* ESTADISTICAS.PHP TERMINA AQUÍ */
  /* ESTADISTICAS DE ENTRADAS */
  .table-estadisticas-de-entradas{
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .table-estadisticas-de-entradas th,
  .table-estadisticas-de-entradas td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Poppins", sans-serif;
  }
  .table-estadisticas-de-entradas th {
    background-color: #175873;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  .table-estadisticas-de-entradas tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  .table-estadisticas-de-entradas tr:hover {
    background-color: #e0f7fa;
  }
  @media screen and (max-width: 768px) {
    .table-estadisticas-de-entradas {
      width: 100%;
      max-width: 90%;
      font-size: 14px;
    }
  
    .table-estadisticas-de-entradas th, 
    .table-estadisticas-de-entradas td {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .table-estadisticas-de-entradas {
      font-size: 12px;
    }
  
    .table-estadisticas-de-entradas th, 
    .table-estadisticas-de-entradas td {
      padding: 8px;
    }
  }
  .p-estadisticas-de-entradas{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .p-estadisticas-de-entradas:hover{
    color: #008080;
    cursor: pointer;
  }
  .formulario-filtro-estadistica {
    margin: auto;
    margin-top: 15px;
    width: 30%;
    max-width: 90%;
    background-color: #175873;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
  }
  
  .formulario-filtro-estadistica form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
  
  .formulario-filtro-estadistica select {
    border: 1px solid #334155;
    border-radius: 10px;
    padding: 8px 12px; 
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: #f1f5f9;
    color: #1e293b;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex: 0 1 200px;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .formulario-filtro-estadistica select:focus {
    border-color: #008080;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
  }
  
  @media screen and (max-width: 768px) {
    .formulario-filtro-estadistica {
      padding: 10px;
      gap: 10px;
    }
  
    .formulario-filtro-estadistica select {
      font-size: 12px;
      padding: 6px 10px; 
      flex: 0 1 150px; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .formulario-filtro-estadistica {
      padding: 8px;
      gap: 8px;
    }
  
    .formulario-filtro-estadistica select {
      font-size: 10px;
      padding: 4px 8px;
      flex: 0 1 120px;
    }
  }