/* Body del Index.php  REUTILIZABLE*/
.container-body{
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
  linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  margin: 0;
  box-sizing: border-box;
}

/* Inicio del Index.php */ 
.formulario-container-index {
    width: 350px; 
    height: 350px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: auto;
    margin-top: 30px;
  }
  
  .titulo-index {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
  }
  
  .formulario-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input-index {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  .formulario-btn-index {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 66, 92, 0.418) 0px 3px 8px;
  }
  .formulario-btn-index:hover{
    color: rgb(115, 227, 255);
    box-shadow: rgba(25, 190, 255, 0.692) 0px 3px 8px;
    transform: scale(1.1);
  }
  .formulario-btn-index:active {
    box-shadow: rgba(0, 183, 255, 0.418) 0px 3px 8px;
  }
  
  .iniciarsesion-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .iniciarsesion-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: #008080;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .mensaje-index{
    color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 15px;
  }
  /* Index.php termina aquí */
  
 /* Main.php SECRETARIA DE OFICINA  REUTILIZABLE*/
 .header-main{
  background-color: teal;
  padding: 5px;
  display: flex;
  flex-direction: row;
 }
 .link-main{
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  
}
.cajadetexto-main{
  width: 200px;
  height: 30px;
  background-color: #191a1a;
  transition: all 0.2s ease;
  border-radius: 20px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

.cajadetexto-main:hover {
  transform: scale(1.1);
}
/* System help.php Comienza aquí */
.titulo-systemhelp{
  color: #fff;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  align-self: center;
}

.header-systemhelp{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
}
.formulario-filtro-systemhelp{
  margin: auto;
  margin-top: 15px;
  margin-left: 450px;
  margin-right: 450px;
  background-color: #008080;
  padding: 5px;
  border-radius: 20px;
  
}
.formulario-filtro-systemhelp form{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.formulario-filtro-systemhelp input{
  border-color: none;
  border-radius: 40px;
  text-decoration: none;
  border-style: none;
  margin: 8px;
  padding: 5px;
}
.formulario-filtro-systemhelp input:hover{
  transform: scale(1.1);
}
.texto-systemhelp{
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
}
.formulario-btn-systemhelp{
  background-color: #008080;
  color: #fff;
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-style: none;
  padding: 10px 25px 10px 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
}
.formulario-btn-systemhelp:hover{
  transform: scale(1.1);
}
.table-systemhelp{
  background-color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px;
  border-radius: 20px;
  
}
.botoninvalido-systemhelp{
  color: #ffffff;
  text-decoration: none;
  background-color: #b80000;
  border-radius: 20px;
  padding: 3px;
  display: flex;
  text-align: center;
}
.botonaprobado-systemhelp{
  color: #ffffff;
  text-decoration: none;
  background-color: #00be3f;
  border-radius: 20px;
  padding: 3px;
  display: flex;
  text-align: center;
}
.table-systemhelp tr, th, td{
  border-collapse: collapse;
  margin: auto;
  align-items: center;
}
.table-systemhelp tr{
  background-color: #e2e9eb;
}
.table-systemhelp td{
  padding: 15px;
  border-radius: 20px;
}
.table-systemhelp th{
  font-size: 20px;
  padding: 5px;
  
}
.menu-systemhelp ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-systemhelp ul li {
  background-color: #ffffff;
  position: relative;
  float: left;
  margin: 5px;
  padding: 0;
  border-radius: 20px;
}

.menu-systemhelp ul a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-systemhelp ul li:hover {
  background: #ffffff;
  transform: scale(1.1);
}

.menu-systemhelp ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  padding: 0;
}

.menu-systemhelp ul ul li {
  float: none;
  width: 150px;
}

.menu-systemhelp ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

.menu-systemhelp ul li:hover > ul {
  display: block;
}
/* NEW HELP.PHP */
.formulario-newhelp{
  background-color: #eee;
  margin: auto;
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
  padding: 20px;
}
.boton-newhelp{
  color: #fff;
  background-color: #008080;
  border-style: none;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  margin: auto;
  display: flex;
}
.boton-newhelp:hover{
  transform: scale(1.1);
}
.titulo-newhelp{
  padding: 5px;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
}
/* FELICIDADES HELP.PHP */
.section-felicidadeshelp{
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  margin: 50px 300px 50px 300px;
  text-align: center;
  padding: 15px;
}
.section-felicidadeshelp p{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.section-felicidadeshelp a{
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  border-style: none;
}
.section-felicidadeshelp a:hover{
  background-color: #00be3f;
}
/* CONFIGURACION USER.PHP */
.formulario-configuracionuser{
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  margin: 50px 500px 50px 500px;
  text-align: center;
  padding: 15px;

}
.label-configuracionuser{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin: 5px;
}
.button-configuracionuser{
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  border-style: none;
  margin-top: 20px;
}
.button-configuracionuser:hover{
  transform: scale(1.1);
}
.input-configuracionuser{
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 30px;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
}
/* SYSTEM HELP LIST.PHP */
.table-systemhelplist{
  background-color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
  border-radius: 20px;
  padding: 5px;
}
.table-systemhelplist tr, th, td{
  border-collapse: collapse;
  margin: auto;
  align-items: center;
}
.table-systemhelplist tr{
  background-color: #e2e9eb;
}
.table-systemhelplist td{
  padding: 5px;
  border-radius: 20px;
}
.table-systemhelplist th{
  font-size: 20px;
  padding: 5px;
  
}
.formulario-filtro-systemhelplist{
  margin: auto;
  margin-top: 15px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: #008080;
  padding: 10px;
  border-radius: 20px;
  display: flex;
}
.formulario-filtro-systemhelplist input{
  border-color: none;
  border-radius: 40px;
  text-decoration: none;
  border-style: none;
  margin: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario-filtro-systemhelplist select{
  border-color: none;
  border-radius: 40px;
  text-decoration: none;
  border-style: none;
  margin: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario-filtro-systemhelplist form{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  
}
/* DAR INVALIDO.PHP */
.formulario-darinvalido{
  background-color: #eee;
  margin: auto;
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
  padding: 20px;
}
.label-darinvalido{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 5px;
}
.input-darinvalido{
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 150px;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
}
.button-darinvalido{
  color: #fff;
  background-color: #008080;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  border-style: none;
  margin: auto;
  margin-top: 20px;
  display: flex;
}
.button-darinvalido:hover{
  transform: scale(1.1);
}
.titulo-darinvalido{
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0;
}